!!! 5
html
	head
		meta(charset="UTF-8")
		title= title
		meta(name="description", content="instagram photo viewer with infinite scroll.")
		<meta property="og:title" content="#{title}">
		<meta property="og:type" content="website">
		- if (e.SITE_URL) {
		<meta property="og:url" content="#{e.SITE_URL}">
		- }
		<meta property="og:image" content="#{e.SITE_URL}/images/twitter_icon.png">
		<meta property="og:site_name" content="#{title}">
		- if (e.FACEBOOK_ADMIN_ID) {
		<meta property="fb:admins" content="#{e.FACEBOOK_ADMIN_ID}">
		- }
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		link(rel="stylesheet", href="https://github.com/paulirish/html5-boilerplate/raw/e4edeff4fa1aa8c81f495e2d75527584a29e83fb/css/style.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Bevan")
		link(rel="stylesheet", href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="shortcut icon", href="/favicon.ico")
		script(src="https://github.com/Modernizr/Modernizr/raw/v1.7/modernizr.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.js")
		script(src="http://documentcloud.github.com/underscore/underscore.js")
		script(src="http://documentcloud.github.com/backbone/backbone.js")
		// script(src="/javascripts/libs/jquery.masonry.js")
		// script(src="/javascripts/libs/jquery.infinitescroll.js")
		// script(src="https://github.com/paulirish/infinite-scroll/raw/master/jquery.infinitescroll.js")
		script(src="https://github.com/cowboy/jquery-bbq/raw/v1.2.1/jquery.ba-bbq.js")
		script(src="https://github.com/desandro/isotope/raw/master/jquery.isotope.js")
		script(src="/javascripts/libs/jquery.autopager-1.0.0.js")
		script(src="https://github.com/neave/touch-scroll/raw/master/touch-scroll.js")
		script(src="/javascripts/site.js")
		- if (e.GOOGLE_ANALYTICS_TRACKING_CODE) {
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '#{e.GOOGLE_ANALYTICS_TRACKING_CODE}']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		- }
		- if (e.TWITTER_API_KEY) {
		script(src="http://platform.twitter.com/anywhere.js?id=" + e.TWITTER_API_KEY + "&v=1")
		script(type="text/javascript")
			twttr.anywhere(function(twitter) {
				twitter.hovercards();
			});
		- }
	body!= body
